:root {
    --noir: #171717;
    --blanc: #ffffff;
    --grisfonce: #6B6B6B ;
    --grisclair: #757575;
    --gris-bouton: #f0f0f0;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--blanc); 
  overflow-x: hidden;

}


/* ---------------------- NAV BAR ----------------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--blanc);
}


nav {
    max-width: 100%;
    margin: 0;
    
}

.links {
  border-bottom: 1px solid var(--noir) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem; 
}

.links ul {
  color: var(--noir);
  list-style: none;
  display: flex;
  gap: 3rem; 
  margin: 0;
  padding: 0;
}

.links ul:first-child li a {
  color: var(--noir); 
  font-weight: 700;
  text-decoration: none;
}

.links ul li a {
    font-family: 'Suranna', serif;   
    font-weight: 700;
    color: var(--noir);
    text-decoration: none;
    font-size: 1.4rem;
}

.links ul:first-child {
  justify-content: flex-start;
}


#comp{
  scroll-margin-top: 4.5rem;
}
#projets{
  scroll-margin-top: 4.5rem;
}
#contact {
  scroll-margin-top: 4.5rem;
}

.menu-hamburger{
  display: none;
  position: absolute;
  right: 20px;
  height: 4rem;
  width: 3rem;
}

/* ---------------------- PRES ----------------------*/

.project{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 15rem;

}

.project-screen {
    position: relative;
    width: 100%;
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanc);
    font-family: 'Ramaraja', serif;
}

.project-screen .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 1;
}

.project-screen .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2;
}

.project-screen h2 {
    position: relative;
    z-index: 3;
    font-size: 2rem;
    text-align: center;
}

.infos{
  margin-top: 1.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info{
  border: 1px solid var(--noir);
  background-color: var(--gris-bouton);
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 2px; 

}

.info b{
  font-weight: 700;
}

.desc {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 4rem auto; 
}

.desc h4{
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.skills{
  
  padding-left:10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

}

.category-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.skill-title{
  width: 20rem;
  display: flex;
}

.skill-title h2{
  font-family: 'Suranna', serif;   
  font-size: 1.3rem;
}

.skills-list {
  gap: 3rem;
  width: 90%;
  height: 30%;
  line-height: 4rem;

}

.skills-list button {
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
  background-color: var(--gris-bouton);
  padding: 0.4rem 0.4rem;
  font-size: 1rem;
  color: var(--noir);
}

.category-title{
  margin-top: 3rem;
  width: 100%;
  border: 1px solid var(--noir) ;
  display: flex;
  align-items: center;
}

.category-title h2{
  font-family: 'Suranna', serif;   
  font-weight: 700;
  margin-left: 5rem;
  font-size: 1.7rem;
  

}

.visuals-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem; 
    margin-top: 2rem;
  }
  
.project-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
.project-img {
  width: 80%;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(11, 7, 10, 0.317);
}

.project-container p {
  margin-top: 2rem;
  font-size: 1.2rem;
}





/* ---------------------- FOOTER ----------------------*/

footer {
  margin-top: 4rem;
  display: flex;
  width: 100%; 
  background-color: var(--noir);
  color: var(--blanc);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 0.9rem;
}


footer p {
  margin: 0;
}
  
/* ---------------------- FOOTER ----------------------*/




/* ---------------------- RESPONSIVE ---------------------- */

@media (min-width:1770px){

  body {
    font-size: 1.2rem;
  }

   .links ul li a {
    color: var(--noir);
    text-decoration: none;
    font-size: 1.7rem;
}

  .project,
  .desc,
  .skills,
  .visuals-row,
  .project-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .project-screen h2 {
    font-size: 2.5rem;
  }

  .info {
    font-size: 1.2rem;
  }

  .desc h4 {
    font-size: 1.3rem;
    line-height: 170%;
  }

  .skill-title h2,
  .category-title h2 {
    font-size: 2rem;
  }

  .skills-list button {
    font-size: 1.2rem;
  }

  .project-container p {
    font-size: 1.4rem;
  }

  .project-img {
    max-width: 1000px;
  }
}



@media (max-width: 1200px) {
  .links {
    padding: 2rem 10rem;
    gap: 1rem;
  }

  .links ul li a {
    font-size: 1.3rem;    
  }

  .links ul {
    gap: 2rem;
  }
  
  footer {
    text-align: center;
    font-size: 0.8rem;
  }

  
  .info{
  padding: 0.4rem 0.4rem;
  font-size: 0.9rem;
  }

  .skills{
    padding-left: 4rem;
    padding-right: 4rem;
  
  }
  
  .category-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    
  }
  
  .skill-title{
    align-items: center;
    justify-content: left;
  }
  
  .skill-title h2{
    font-size: 1.2rem;
  }
  
  .skills-list {
    line-height: 4rem;
    width: 100%;
    min-width: 80%;
    height: 30%;
  }
  
  .skills-list button {
    background-color: var(--gris-bouton);
    padding: 0.35rem 0.35rem;
    font-size: 0.9rem;
  }


}

@media (max-width: 900px) {
  .links {
    align-items: center;
    justify-content: center;
  }

  .links ul li a {
    font-size: 1.3rem;    
  }

  .links ul:first-child {
    display: none;
  }

  .footer {
    text-align: center;
    font-size: 0.7rem;
  }

  .project{
    padding: 2rem 10rem;
  }

  .info{
  padding: 0.35rem 0.35rem;
}
  .desc{
    font-size: 1rem;
  }

.skills{
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 5rem;
  }

  .category-skills {
    gap: 1rem;

  }
  
  .skill-title{
    width: 13rem;
  }
  
  .skill-title h2{
    font-size: 1.3rem;
  }
  
  .skills-list {
    line-height: 3rem;
    gap: 3rem;
    width: 100%;
    height: 30%;
  }
  
  .skills-list button {
    background-color: var(--gris-bouton);
    padding: 0.4rem 0.4rem;
    font-size: 1rem;
  }

}

@media (max-width: 700px) {
  .links {
    align-items: center;
    justify-content: center;
  }

  .links ul li a {
    font-size: 1.3rem;    
  }

  footer {
    text-align: center;
    font-size: 0.7rem;
  }

  .project{
    padding: 2rem 5rem;
  }

  .info{
  padding: 0.3rem 0.3rem;
  font-size: 0.8rem;
  }

  .desc{
    font-size: 0.9rem;
  }

  .skills{
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 5rem;
  }

  .category-skills {
    gap: 1rem;

  }
  
  .skill-title{
    width: 13rem;
  }
  
  .skill-title h2{
    font-size: 1rem;
  }
  
  .skills-list {
    line-height: 3rem;
    gap: 3rem;
    width: 100%;
    height: 30%;
  }
  
  .skills-list button {
    background-color: var(--gris-bouton);
    padding: 0.4rem 0.4rem;
    font-size: 0.9rem;
  }

  

}

@media (max-width: 480px) {
   nav {
  position: relative; 
  background-color: var(--blanc); 
  border: 1px solid var(--noir);
  height: 5rem;
  z-index: 9998;
}

  nav .menu-hamburger {
    display: block;
    position: fixed;  
    z-index: 9999;  
  }


  .links {
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.628);
    backdrop-filter: blur(7px);
    margin-left: -200%;
  }

  .links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
  }

  .links ul li a {
    color: var(--blanc);
    font-size: 1.2em;
    margin: 1.2rem 0;
  }


  .links.mobile-menu{
    display: flex;
    margin-left: 0;
  }

  .menu-hamburger.active {
    filter: brightness(0) invert(1);
    top: 0;
  }

  .no-scroll {
    overflow: hidden;

  }


  footer p {
    font-size: 0.7rem;
  }

  .project{
    padding: 2rem 2rem;
  }

  .info{
  padding: 0.2rem 0.2rem;
  font-size: 0.7rem;
  }

  .desc{
    font-size: 0.7rem;
  }

 .school img{
    height: 40px;
    width: 40px;
  }

  .skills{
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 5rem;
  }

  .category-skills {
    gap: 1rem;

  }
  
  .skill-title{
    width: 13rem;
  }
  
  .skill-title h2{
    font-size: 1rem;
  }
  
  .skills-list {
    line-height: 2rem;
    gap: 2rem;
    width: 100%;
    height: 30%;
  }
  
  .skills-list button {
    background-color: var(--gris-bouton);
    padding: 0.2rem 0.2rem;
    font-size: 0.7rem;
  }

  .category-title h2{
    font-size: 1.3rem;
  }

}
